#wrapper {
    width: 902px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

#knifefork {
    height: 42px;
    width: 45px;
}

.rssmail {
    margin-left: 10px;
}

/* .delicious {
    height: 42px;    
} */

#heading1 {
    font-family: 'Yellowtail' , cursive;
    font-size: 35px;
    display: inline-block;
    margin-top: 12px;
    margin-left: 10px;
}

#heading1sub {
    /* display: inline-block; */
    font-size: 12px;
    margin: 0 auto;
    margin-left: -10px;
    margin-top: 10px;
    
}

p {
    display: inline;
    position: relative;
    top: 10px;
    right: 100px;
    /* margin-bottom: 150px; */ 
}

hr {
    height: 10px;
    background-color: #DDD;
    margin-top: 30px;
    width: 100%;
}

#cpizza {
    margin-top: 50px;
    /* margin-left: 265px; */
    font-size: 35px;
    font-family: sans-serif;
    /* display: flex; */
    /* justify-content: left; */
}

#posted {

}

.post {
   
}

main {
    margin-top: 50px;
    width: 900px;
}

.maintext {
    text-indent: 1rem;
    /* margin-left: 150px; */
    margin-top: 10px;
}

.list {
    width: 902px;
    height: 300px;
    background-color: #cccccc;
    background-image: url("photos/list-bg.png");
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}

input {
    z-index: -10;
    /* font-family: fantasy; */
}

.linethrough {
    text-decoration: line-through;
}

li {
   list-style-type: none;
   font-family: fantasy;
   color: rgb(164, 81, 81);
}